name: Lint

on: pull_request

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@master
      - uses: actions/setup-node@v2
        name: Setup node
        with:
          node-version: '14'
        # Setup doctl
      - name: Lint
        run: |-
            npm install
            npm run lint